name: Scrape latest data

on:
  push:
  workflow_dispatch:
  schedule:
    # At minute 7, 27, and 47.
    - cron: "7,27,47 * * * *"

jobs:
  scheduled:
    runs-on: ubuntu-slim
    steps:
      - name: Check out this repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: v2.x
          cache: true
      - name: Fetch latest data
        run: |-
          deno run --allow-all bmkg_felt.ts
      - name: Commit and push if it changed
        run: |-
          git config user.name "Automated"
          git config user.email "actions@users.noreply.github.com"
          git add -A
          timestamp=$(date -u)
          git commit -m "Latest data: ${timestamp}" || exit 0
          git push
